@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rubik:200,300,500,700,900');



.projets:hover .go-icone{
 opacity: 1;
}


.headerLink{
  text-decoration: none;
  color: black;
}


.headerLink p{
  color: black;
}




.white{
color: white}



.homeFlex{
  display: flex;
  width: 85%;
  margin: auto;
  margin-top: -50px;
  margin-bottom: 100px;
  transition: all 5s ease-out;
  position: relative;
  z-index: 5;

  padding: 40px 20px;

}

.picture{
  flex: 0 0 40%;

width: 95%;
margin-top: -50px;

 position:relative;
  z-index: 5;
}



.pic1{
  position: absolute;
filter: grayscale(100%);
  top: 0px;
  left: 0px;
  transform: rotate(-5deg);
}

.pic2{
  position: absolute;
filter: grayscale(100%);
  top: 0px;
  left: 0px;
  transform: rotate(2deg);
}

.pic3{
  position: absolute;
filter: grayscale(100%);
  top: 0px;
  left: 0px;
  transform: rotate(2deg);
}


.yellowdiv{
 width: 90%;
height: 130%;
}





@media(max-width: 1500px) {
 .yellowdiv{
 width: 70%;
height: 100%;
}
}


@media(max-width: 1200px) {
 .yellowdiv{
 width: 100%;
height: 60%;
margin-top: 40px;
}
}



@media(max-width: 600px) {
 .yellowdiv{
 width: 70%;
height: 60%;
margin-top: 40px;
}
}


@media(max-width: 600px) {
 .yellowdiv{
 width: 250px;
height: 420px;
margin-top: 0px;
}
}



@media(min-width: 1300px) {
  .picture{

margin-top :-30px;
width: 80%;


}}



@media(max-width: 1100px) {
  .picture{

margin-top :0px;


}}

@media(max-width: 800px) {
  .homeFlex{
    width: 95%;
  }
}


@media(max-width: 1100px) {
  .homeFlex{
    width: 95%;
    margin-bottom: 500px;


  }
}


@media(min-width: 1100px) {
  .homeFlex{
    width: 80%;
    margin-bottom: 500px;




  }
}

@media(max-width: 600px) {
.homeFlex{
    display: block;
    margin-top: -50px;
    margin-left: 20%;
  }

  .picture{
margin-left: -20px;
margin-top: -40px;
  }
}


.homeFlex h1{
  font-family: Rubik;
  font-weight: 900;
}

.homeFlex h2, p{
  font-family: Roboto Mono;
  position: relative;
}

.homeFlex p{
  text-align: justify;
  width: 95%;
  color: #494747;
  font-size: .9rem;
}

.yellowTitle{
background: #F7FF3C;
opacity: .5;
padding: 20px;
transform: rotate(-5deg);
width:400px ;
position: absolute;
}

@media(max-width: 1100px) {
  .yellowTitle{
    width:220px ;
    padding: 30px;}
}

.yellowTitle2{
background: #EAFE0A;
opacity: .5;
padding: 20px;
transform: rotate(-10deg);
width:140px ;
position: absolute;
margin-left: 9%;

}

.yellowTitle3{
background:#EAFE0A;
opacity: .5;
padding: 20px;
transform: rotate(-8deg);
width:140px ;
position: absolute;

}


.yellowTitle4{
background:#EAFE0A;
opacity: .5;
padding: 20px;
transform: rotate(-8deg);
width:220px ;
position: absolute;

}


.yellowTitle5{
background:#EAFE0A;
opacity: .5;
padding: 20px;
transform: rotate(-8deg);
width:150px;
position: absolute;

}

.titleh3{
z-index: 5;
position: relative;
}

.titleh2{
  font-family: Roboto Mono;
  position: relative;
  margin-left: 10%;
}


.titleh2P{
  font-family: Roboto Mono;
  position: relative;

}

.leftFlex{
  padding: 10px;
  flex: 0 0 70%;
  margin-left: 150px;


}

@media(max-width: 900px) {
  .leftFlex{
  padding: 20px;
margin-left: 60px;
  width: 100%;

}
}

@media(max-width: 600px) {
  .leftFlex{
  padding: 20px;
margin-left: 60px;
  width: 100%;
  margin-top: 650px;
   margin-left: 0px;

}
}




.picture:hover{
  filter: none;
}

.go{
  font-size: 1rem;
  opacity: .3;
  color: rgba(234, 254, 10, 0.69);
}

.white-projet:hover .go{
opacity: 1;
transition: all 1s ease-out;
}


.picpro{

  height: 300px;
  filter:none;
  margin: 0px 15px;

}

.contact{

  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;

}




.contactbig p{
font-size: .9rem;
}
.contactbig{
  margin: auto;

    width: 80%;
  padding: 50px;
margin-top: -80px;
  text-align: center;
}

.contactbig h2{
   color: black;
}

.contactbig a{
   text-decoration: none;
   color: black;
}

@media(min-width: 1500px) {
 .contactbig{

margin-top: 10px;

}
}





.contactbig h3{
font-family: Roboto Mono;
}


.about:hover .dash{
   visibility: visible;
   transition: all 1s ease-out;
}

.heart{
  font-size: 3rem;
  color:rgba(234, 254, 10, 0.59) ;
}


 a{
  text-decoration: none;
}

.white-projet{
  background: white;
  position: relative;
  width: 400px;
  color:#343333;

  padding: 20px;

  stroke-dasharray: 700;
  stroke-dashoffset: 700;



}

.white-projet:hover{


}


.second{
  margin-left: 50%;
  margin-top: -250px;
}



.third{
  margin-top: -150px;
}


@media(max-width: 800px) {
  .AllProjets{
    width: 95%;
  }
  .third{
  margin-top: -50px;
}
}


@media(max-width: 600px) {
  .white-projet{
    margin:auto;
    width: 350px;
  }
  .second{
    margin: 40px 0px;
  }

  .third{
    margin-top: 50px;
  }
}




.white-projet h3{
  font-family: Roboto Mono;
  margin-left: 15px;
}

.white-projet p{
  font-family: Roboto Mono;
  margin-left: 15px;
  color:#494747;
}



.white-projet:hover {

}


.white-projet:hover .picpro{
  filter: grayscale(70%);
  cursor: pointer;
}

.AllProjets{
  margin: auto;
  margin-top: 50px;
  margin-bottom: -70px;
  width: 80%;
}


@media(max-width: 600px) {
.AllProjets{
  margin-left:0%;}}





.picContact{
  width: 400px;
  filter: grayscale(100%);
}

.picC{
   width: 400px;
   height:400px;
   position: absolute;
  top: 0px;
  background-size:cover;
  background: url(../images/pavan-trikutam-1660-unsplash.jpg);

 }

 .mask{
  position:absolute;
  top: 0px;

  background: white;
  width: 350px;
  height: 250px;
  transition: all 4s ease-out;
 }



 .test-mask{
  position: relative;
  background: blue;
  transition: all 4s ease-out;
 }

.test-mask:hover .mask{
  transform: translateX(300px);
  transition: all 2s ease-out;
}

.voir{
  font-size: .8rem;
  padding: 0px 5px;
  background: rgba(234, 254, 10, 0.05);

}

.white-projet:hover .voir{
  background: rgba(234, 254, 10, 0.4);
  transition: all 1s ease-out;
}

.littleDesc{
margin-bottom: 5px;
font-size: .9rem;
}

.about:hover svg{
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: dash 1s linear forwards;
  animation-fill-mode: forwards;
}

@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}


.homeFlex:hover svg{
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: dash 1s linear forwards;
  animation-fill-mode: forwards;
}


.discover{
  margin-left: 80%;
   height: 100px;
}

.discover:hover{
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 3s ease-out;

}

.bienvenue{
  text-align: center;

}

.bienvenue h1 {
  font-family: Rubik;
  font-size:  5rem;
  font-weight: 700;
  padding-top: 300px;
}

.bienvenue p{
 margin-top: 200px;
}
