@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rubik');

.projets {
  margin: auto;
  width: 40%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin-bottom:200px;
  margin-top: -50px;

}

.projets:hover .go-icone{
 opacity: 1;
}


.go-icone{
  font-size: .9rem;
  color: #FE004C ;
  opacity: .5;
  padding: 5px;
}


.projets:hover .pinkDiv{
 top: 80px;
 transition: all 1s ease-out;
}


.projets:hover .pinkDivT{
 top: 30px;
 transition: all 1s ease-out;
}


.projets:hover .bigNumber{
 left: -120px;
 transition: all 1s ease-out;
}


.projets:hover .bigNumberT{
 left: 420px;
 transition: all 1s ease-out;
}

.projets:hover .Decouvrir{
left: 300px;
 transition: all 2s ease-out;

}

.projets:hover .DecouvrirT{
left: 0px;
 transition: all 2s ease-out;

}

.projets:hover .projectName{
 top: 50px;
 opacity: 1;
 transition: all 2s ease-out;

}

.projets:hover .projectNameT{
 top: 50px;
 opacity: 1;
 transition: all 2s ease-out;

}

.pinkDiv{
  background: #FE004C;
  width: 450px;
  height:300px;
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 5;

}

.pinkDivT{
  background: #FE004C;
  width: 450px;
  height:250px;
  position: absolute;
  top: 80px;
  left: -50px;
  z-index: 5;

}

.projectPic{
  position: relative;
  z-index: 10;

}

.Decouvrir{
  position: absolute;
  text-align: center;
  padding: 50px 0px;
  padding-right: 100px;
  z-index: 20;
  top: 250px;
  left: 240px;
  color: white;


}

.DecouvrirT{
  position: absolute;
  text-align: center;
  padding: 50px 0px;
  padding-right: 100px;
  z-index: 20;
  top: 150px;
  left: 20px;
  color: white;


}


.bigNumber{
  font-size: 15rem;
  color: #FE004C;
  position: absolute;
  z-index: 15;
  top: 150px;
  left: -100px;
  font-weight: 900;
  opacity: 0.7;
}

.bigNumberT{
  font-size: 15rem;
  color: #FE004C;
  position: absolute;
  z-index: 15;
  top: 150px;
  left: 400px;
  font-weight: 900;
  opacity: 0.7;
}

.projectName{
  opacity: .5;
  transform: rotate(-90deg);
  color: #FE004C;
  font-weight: 700;
  position: absolute;
  top: 120px;
  left: 350px;
  font-size: 1.5rem;
  width: 300px;

}



.projectNameT{
  opacity: .5;
  transform: rotate(-90deg);
  color: #FE004C;
  font-weight: 700;
  position: absolute;
  top: 120px;
  left: -230px;
  font-size: 1.5rem;
  width: 300px;

}


.white{
color: white}


.homeFlex{
  display: flex;
  width: 80%;
  margin: 50px auto;

}


.homeFlex h1{
  font-family: Rubik;
  font-weight: 900;
}

.homeFlex h2, p{
  font-family: Roboto Mono;
  position: relative;
}

.homeFlex p{
  text-align: justify;
  width: 80%;
  color: #696565;
}

.yellowTitle{
background: rgba(234, 254, 10, 0.59);
padding: 20px;
transform: rotate(-5deg);
width:400px ;
position: absolute;
}

.yellowTitle2{
background: rgba(234, 254, 10, 0.59);
padding: 20px;
transform: rotate(-8deg);
width:140px ;
position: absolute;

}

.titleh2{
  font-family: Roboto Mono;
  position: relative;
}

.leftFlex{
  padding: 30px;

}

.picture{
filter: grayscale(100%);
}


.picture:hover{
  filter: none;
}



.picpro{
  width: 300px;
  height: 300px;

  filter:none;
  margin:auto;

}

.contact{

  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

}

.contactbig{
  margin: auto;
  background: white;
    width: 80%;
  padding: 50px;
  text-align: center;
}


.contactbig h3{
font-family: Roboto Mono;
}


.about:hover .dash{
   visibility: visible;
   transition: all 1s ease-out;
}

.heart{
  font-size: 3rem;
  color:rgba(234, 254, 10, 0.59) ;
}


 a{
  text-decoration: none;
}

.white-projet{
  background: white;
  position: relative;
  width: 400px;
  color:#343333;

  padding: 20px;
  margin: 20px;

}

.white-projet h3{
  font-family: Roboto Mono;
}


.white-projet:hover .picpro{
  filter: grayscale(100%);
  cursor: pointer;
}

.AllProjets{
  margin: 100px auto;
  width: 100%;
}

.second{
  margin-left: 50%;
  margin-top: -250px;
}

.picContact{
  width: 300px;
}


