@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.projets:hover .github svg{
  transform: rotate(360deg);
 transition: all 4s ease-out;
}


.projetRole{
  background :white;
  padding: 20px;
  width: 70%;
  margin: auto;
  font-family: 'Roboto Mono';
}


.projetRole p{
  color: #494747;
}



.screenShot{
  margin: 50px auto;
  width: 80%;
}


.projetPic{
 width: 500px;
}


.projetDetailsTitle{
  background: #FE004C;
  color: white;
  font-family: 'Roboto Mono';
  padding: 10px;
  width: 70%;
  float: right;
  margin: 50px 0px;
}

.pinkDivProjet{
  background: #FE004C;
  width: 600px;
  height: 400px;
  margin-top: -450px;
}

.pinkDivProjetTodolist{
  background: #FE004C;
  width: 500px;
  height: 300px;
  margin-top: -250px;
  margin-left: 100px;
}



.projectDetailName{
  transform: rotate(-90deg);
  color: #FE004C;
  font-weight: 700;
  position: absolute;
  top: 120px;
  left: 500px;
  font-size: 1.5rem;
  width: 300px;
}


.projets:hover .projectDetailName{
 top: 80px;
  transition: all 1s ease-out;
}


.github{
  color: white;
  font-size: 4rem;
  margin-left: 350px;
  margin-top:-100px;
  position: relative;
  z-index:20 ;

}


.next{
   margin: 50px auto;
   width: 30%;
   opacity: .7
}




.nextProject{
  text-decoration: none;
  color: #FE004C;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Roboto Mono';
}


@media(max-width: 800px) {
 .next{
  width: 50%;

 }
 .nextProject {
  font-size: 1rem;
 }

 .projetRole{
  width: 90%;
}
}


.next:hover .go{
  padding: 30px;
  margin-bottom:20px;
  opacity: 1;
}


.next:hover{
  opacity: 1;
}

.welcome{

  font-family: Roboto Mono;
  margin:auto;
  width: 90%;
  display: flex;
}

.welcome h1 {
  color: #FE004C;
  font-size: 6rem;
  font-weight: 600;
  font-family: Roboto Mono;
}

.welcome h2{

  color: white;
  font-weight: 300;
font-family: Roboto Mono;
}

.previousP{
  position: absolute;
  top: 300px;
  transform: rotate(180deg)
}

.nextP{
  position: absolute;
  top: 300px;
  margin-left: 90%;
}


.picdesign{

}

.presProjet{
  margin-left: 30%;
  width: 500px;
  margin-bottom: 150px;

}


.presProjet p{
font-weight: 100;
 color:#343333;
font-size: .85rem;}



@media(max-width: 800px) {

  .presProjet{
    margin-top: 50px;
  }
  }

.presProjet p{

   text-align: justify;
}


@media(max-width: 600px) {
  .presProjet{
  margin:100px auto;
  width: 300px;
  margin-bottom: 150px;
}
}


.bold{
  font-weight: 900;
}

.projetHeader{
position:absolute;
top: 10px;
left:150px;
z-index: 50;
width: 100%;
}


.projetHeader svg{
margin-top: 150px;
}

.projetHeader svg:hover{
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  animation: dash 1s linear forwards;
  animation-fill-mode: forwards;
}

